.page-timer{
    background-color: tomato;
    background-image: url(./img/present.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.timer{
    display: flex;
     background-color: red;
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
    border-radius: 30px;
    padding: 20px 30px;
}
.value{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}


.label{
    display: block;
    text-align: center;
}
.separator{
    margin: 0 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

}